<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            How permissions work
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change permissions for a provider at any time</li>
            <li>review and edit anything a provider does on your behalf</li>
        </ul>
        <p class="govuk-body">Your provider will not be able to access your account.</p>
    </div>
</details>