.govuk-button--looks-like-link {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: underline;
    background: none;
    box-shadow: none;
    text-align: left;
    color: #005ea5;
    font-size: 1.1875rem;
}

.govuk-button--looks-like-link:hover,
.govuk-button--looks-like-link:active {
    top: 0;
    background: none;
    color: #2b8cc4;
    text-decoration: underline;
    cursor: pointer;
}

.govuk-button--looks-like-link:focus {
    background: #ffbf47;
}

.govuk-button--looks-like-link:visited {
    color: #4c2c92;
}