<p class="govuk-body">
    This will allow your training provider to:
    <ul class="govuk-list govuk-list--bullet">
        <li>create and manage job adverts</li>
        <li>receive and manage applications</li>
    </ul>
</p>
