@{
    ViewBag.Title = "Access denied";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Access denied</h1>
        <p class="govuk-body">Your account does not have sufficient privileges.</p>
    </div>
</div>