.govuk-button--looks-like-link {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: underline;
    background: none;
    box-shadow: none;
    text-align: left;
    color: #005ea5;
    font-size: 1.1875rem;
}

.govuk-button--looks-like-link:hover,
.govuk-button--looks-like-link:active {
    top: 0;
    background: none;
    color: #2b8cc4;
    text-decoration: underline;
    cursor: pointer;
}

.govuk-button--looks-like-link:focus {
    background: #ffbf47;
}

.govuk-button--looks-like-link:visited {
    color: #4c2c92;
}

td.govuk-table__cell.nowrap {
    white-space: nowrap
}

.sorted-ascending::after {
    content: "";
    margin-left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 10px 5px 0;
    border-top-color: inherit;
}

.sorted-descending::after {
    content: "";
    margin-left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 1%, 1% 100%, 100% 100%);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 5px 10px;
    border-bottom-color: inherit;
}