@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.AccountProvidersViewModel
@using SFA.DAS.ProviderRelationships.Web.RouteValues.AccountProviderLegalEntities

<div class="govuk-grid-column-full">
    @foreach (var accountProvider in Model.AccountProviders)
    {
        <h2 class="govuk-heading-l govuk-!-margin-top-7">@accountProvider.ProviderName</h2>

        <table class="govuk-table govuk-!-font-size-19">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Organisation</th>
                <th class="govuk-table__header">Permissions</th>
                @if (Model.IsUpdatePermissionsOperationAuthorized)
                {
                    <th class="govuk-table__header"></th>
                }
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var accountProviderLegalEntity in accountProvider.AccountLegalEntities)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@accountProviderLegalEntity.Name</td>
                    <td class="govuk-table__cell">
                        @if (accountProviderLegalEntity.Operations.Count == 0)
                        {
                            @:No permissions set
                        }
                        else
                        {
                            foreach (var operation in accountProviderLegalEntity.Operations)
                            {
                                <div>@operation.GetDescription()</div>
                            }
                        }
                    </td>
                    @if (Model.IsUpdatePermissionsOperationAuthorized)
                    {
                        <td class="govuk-table__cell">
                            <a href="@Url.Action("Get", "AccountProviderLegalEntities", new GetAccountProviderLegalEntityRouteValues { AccountProviderId = accountProvider.Id, AccountLegalEntityId = accountProviderLegalEntity.Id })">
                                @if (accountProviderLegalEntity.Operations.Count == 0)
                                {
                                    @:Set permissions
                                }
                                else
                                {
                                    @:Change permissions
                                }
                            </a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
</div>