@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.AddedAccountProviderViewModel

@{
    ViewBag.Title = "You've successfully added your training provider";
    ViewBag.ZenDeskLabel = "permissions-training-provider-added";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">       
        <div class="govuk-panel govuk-panel--confirmation">
            <div class="govuk-panel__title">
                You've successfully added @Model.AccountProvider.ProviderName
            </div>
        </div>
        <h1 class="govuk-heading">What happens next</h1>
        <p class="govuk-body">You need to set permissions for @Model.AccountProvider.ProviderName so that they can act on your behalf.</p>
        <p class="govuk-body">You can set permissions in the 'your training providers' section of your account.</p>

        <a class="govuk-button" href="@Url.Action("Index")" role="button">Return to your training providers</a>
    </div>
</div>

