@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.AccountProvidersViewModel

@{
    ViewBag.Title = "Your training providers";
    ViewBag.ZenDeskLabel = "permissions-your-training-providers";
}

@section breadcrumb
{
    <a href="@Html.EmployerUrls().Account()" class="govuk-back-link">Back</a>
}
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your training providers</h1>
        <p class="govuk-body">You can add a training provider, then set permissions to choose what they can do on your behalf.</p>

        @if (Model.AccountProviders.Count == 0)
        {
            <p class="govuk-body">You have not added any training providers yet.</p>
        }

        @if (Model.IsAddProviderOperationAuthorized)
        {
            <a class="govuk-button" href="@Url.Action("Find","Providers")" role="button">Add a training provider</a>
        }
    </div>
</div>
<div class="govuk-grid-row">
@if (Model.AccountProviders.Count > 0)
{
    @Html.Action(Model.AccountLegalEntitiesCount == 1 ? "AccountProvidersWithSingleOrganisation" : "AccountProvidersWithMultipleOrganisation", new { model = Model })
}
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.Partial("_HowPermissionsWork")
    </div>
</div>
